<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../assets/css/stylek.css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <title>Document</title>
</head>

<body class="container">
    {{template "header" .}}
    <main class="main">
    {{template "navbar" .}}
    <div class="content">
        {{range $_, $e:= .Post.Rows }}
        <div class="everyone">
            <h1>{{$e.Name }}</h1>
            <img src="../assets//temp-images/{{$e.Image}}" alt="post img" width="70" height="90">
            
            <p>Tags:
                {{ range $_, $e:= .Cat }}

                <span class="label label-info">{{ .Name}}</span>

                {{end}}
                | <i class="icon-user"></i> <a href="#">{{ $e.User.Name }}</a>
                <a class="read" href="/post/{{ .ID }}">READ MORE</a>
            </p>

        </div>
        {{end}}
    </div>
    </main>
    </div>
    </div>


</body>
<script src="../assets/js/navbar.js"></script>
</html>