<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../assets/js/like.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <nav class="navbar navbar-findcond navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Forum</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Bildirimler <span class="badge">0</span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Music</span> sayfası <span class="badge">Video</span> sayfasında etiketlendi</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Music</span> sayfasında iletiniz beğenildi</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Video</span> sayfasında iletiniz beğenildi</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Game</span> sayfasında iletiniz beğenildi</a></li>
                        </ul>
                    </li> -->

                        {{ if .User.Session }}
                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">{{.User.Name}} <span class="caret"></span></a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/createdPosts"> Created Posts</a></li>
                                <li><a href="/likedPosts"> Liked posts</a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <form action="/logout" method="post">
                                <button type="submit" class="btn-link">Logout</button>
                            </form>
                        </li>
                        {{ else }}
                        <li class="active"><a href="/signup">signup<span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="/signin">signin<span class="sr-only">(current)</span></a></li>
                        {{end}}
                    </ul>

                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div id="blog" class="row">

            <div class="col-sm-2 paddingTop20">
                <nav class="nav-sidebar">
                    <ul class="nav">
                        <li class="active"><a href="javascript:;"><span class="glyphicon glyphicon-star"></span>
                                Categories</a></li>
                        {{range .Category}}
                        <li><a href="/Category/{{ .Name }}">{{ .Name}}</a></li>

                        {{end}}
                        {{ if .User.Session }}
                        <li><a href="/createpost"><i class="fa fa-plus"></i>Add Post</a></li>
                        {{ else }}
                        {{end}}
                    </ul>
                </nav>
                <!-- <div>
                    <h2 class="add">Place for your add!</h2>
                </div> -->
            </div>
            <div class="col-md-10">
                {{range $_, $e:= .Post.Rows }}
                <div class="col-md-10 blogShort">

                    <h1>{{$e.Name }}</h1>
                    <p class="lead"><i class="fa fa-user"></i> by {{$e.User.Name}}
                        
                        <article>
                            <img src="../assets/temp-images/{{$e.Image}}" alt="post img">
                            <p>
                                {{ $e.Body }}
                            </p>
                        </article>
                        {{end}}
                        {{range $_, $e:= .Post.Rows}}
                        <div class="pull-right marginBottom10">
                            <form action="/likeNdis/{{ .ID }}" method="POST">
                                <div name="likedis">

                                    <button class="like" type="submit" name="like" value="1"><i
                                            class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>{{ $e.Likes }}
                                    <button class="dislike" type="submit" name="dislike" value="1"><i
                                            class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
                                    {{ $e.Dislikes }}
                                </div>
                            </form>
                        </div>
                        {{end}}

                        {{range $_, $e:= .Post.Rows }}
                        <p>Tags:
                            {{ range $_, $e:= .Cat }}

                            <span class="label label-info">{{ .Name}}</span>

                            {{end}}
                            | <i class="icon-user"></i> <a href="#">{{ $e.User.Name }}</a>
                            <!-- | <i class="icon-comment"></i> <a href="#">3 Comments</a> -->

                        </p>

                </div>
                {{end}}


                <div class="col-md-10">

                    <div class="content1">
                        <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
                        <script>
                            tinymce.init({
                                selector: "textarea",
                                plugins: [
                                    "advlist autolink lists link image charmap print preview anchor",
                                    "searchreplace visualblocks code fullscreen",
                                    "insertdatetime media table contextmenu paste"
                                ],
                                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
                            });
                        </script>






                        <!-- the comment box -->
                        <div class="well">
                            <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
                            {{range .Post.Rows}}
                            <form action="/commenting" method="POST">
                                <div class="form-group">
                                    <textarea class="form-control" required maxlength="140" name="comment"
                                        rows="3"></textarea>
                                </div>
                                <button type="submit" name="say" value="" class="btn btn-primary"><i
                                        class="fa fa-reply"></i> Submit</button>
                                <input hidden name="idwka" value="{{ .ID }}">
                            </form>
                            {{end}}
                        </div>
                        </script>
                        <hr>

                        <!-- the comments -->
                        {{range .Post.Rows}}
                        {{range .Comm}}
                        <h3><i class="fa fa-comment"></i> {{.User.Name}}:

                        </h3>
                        <div class="well">
                            <p>{{.Body}}</p>
                        </div>
                        <form action="/commentLike/{{ .ID }}" method="POST">
                            <div name="likedis">
                                <button class="like" type="submit" name="commnetLike" value="1"><i
                                        class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                                {{ .Likes }}

                                <button class="dislike" type="submit" name="commentDislike" value="1"><i
                                        class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
                                {{ .Dislikes }}
                            </div>
                            <input type="hidden" id="postId" name="postId" value="{{.Post.ID}}">
                            <input type="hidden" id="comId" name="comId" value="{{.ID}}">

                        </form>
                        {{end}}
                        {{end}}

                    </div>



                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>